#display{
    display: flex;
    align-items: center;
    margin: auto;
    width: 95vw;
    height: 95vh;
    
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#mainWindow{
    width: 100%;
    height: 100%;
    background-color: paleturquoise;
}

.aboutMe{
    text-align: center;
}

.projects{

}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }